{cover_enabled, true}.

{deps,
 [
  {esqlite, ".*", {git, "https://github.com/arjan/esqlite.git", {branch, "master"}}},
  {poolboy,   ".*",   {git, "git://github.com/devinus/poolboy.git", "9c4b4580b0363cce91693ec6a7f1f03005955023"}},
  {epgsql,   ".*",   {git, "git://github.com/epgsql/epgsql.git", {branch, "master"}}},
  {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", {tag, "0.4.1"}}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {tag, "0.3"}}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
 ]}.

